body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


a {
    color: inherit;
    text-decoration: underline;
}


.container {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 3cqb 1fr;
    height: 100vh;
}

.cell {
    padding-left: 5px;
    padding-right: 5px;
    box-sizing: border-box;
    text-align: left;
}


.menu-section {
    margin-bottom: 24px;
}


@media (min-width: 768px) {
    .container {
        grid-template-columns: 20% 1fr;
        grid-template-rows: 2em 1fr;
    }
}


@media (max-width: 767px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 2em auto auto;
    }
}


@media (max-width: 767px) {
    .only-pc {
        display: none;
    }
}


.filters-form-div form div {
    display: inline-block;
    margin: 3px;
}


.filters-form-div form input[type="number"] {
    width: 5em;
}

.filters-form-div form div span {
    margin-right: 5px;
}


.content-table,
.content-table tr,
.content-table tr td,
.content-table tr th {
    border: 1px solid black;
    border-collapse: collapse;
}


.content-table {
    width: 100%;
}


.content-table th {
    max-height: 1em;
    overflow: hidden;
    /* text-wrap: nowrap; */
}


.content-table td,
.content-table th {
    padding-left: 5px;
    padding-right: 5px;
    word-wrap: break-word; 
    /* text-wrap: nowrap; */
}


.content-table a {
    color: inherit;
    width: 100%;
    text-decoration: inherit;
    display: inline-block;
}


.file-title {
    display: block;
    font-size: 1.3em;
    font-weight: bolder;
}


.file-header {
    margin-bottom: 12px;
}


.storage-path {
    display: block;
    font-size: small;
}


.mime-span {
    display: block;
    margin-bottom: 12px;
}


.preview {
    width: 100%;
    display: block;
}


video {
    background-color: black;
}


.link-like-button {
    cursor: pointer;
    text-decoration: underline;
}


.share-panel {
    border-width: 1px;
    border-style: solid;
    padding-top: 0px;
}


.close-modal-btn {
    cursor: pointer;
    float: right;
    opacity: 75%;
}


.file-tool-panel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
}


.share-manual {
    font-size: small;
    font-weight: lighter;
    opacity: 50%;
}


.login-panel,
.user-edit {
    width: max-content;
}


.login-panel input,
.user-edit input {
    display: block;
    margin: 5px;
}


.logo-cell img {
    height: 100%;
    max-width: 100%;
}


.logo-cell span {
    font-size: 1.3em;
    margin: 12px;
    margin-top: 0px;
    position: absolute;
}


.files-legend {
    display: block;
    margin: 12px;
}


.files-legend ul {
    margin-top: 2px;
}
